{{!-- <div class="church" data-church="{{this.church_id}}" style="border: 1px">
<p data-address="{{this.address_id}}">
  Church Name: <span class="church_name"> {{this.church_name}} </span><br>
  Address Line 1: <span class="church_address_line">{{this.address_line}} </span><br>
  Address Line 2: <span class="church_address_line2">{{this.address_line2}} </span><br>
  City: <span class="church_city">{{this.city}} </span><br>
  Province: <span class="church_province">{{this.province}} </span><br>
  Postal Code: <span class="church_postal_code">{{this.postal_code}} </span><br>
  Country: <span class="church_country">{{this.country}} </span><br>
 <button type="button" class="fas fa-trash delChurchBtn"></button> <button type="button" class="fas fa-edit editChurchBtn"></button>
</p>

</div> --}}

<div class="card mb-3 church" data-church="{{this.church_id}}" style="max-width: 540px;">
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title"><span class="church_name"> {{this.church_name}} </span></h5>
        <hr>
        <p class="card-text church_address" data-address="{{this.address_id}}">
          <span class="church_address_line">{{this.address_line}} </span>,
          <span class="church_address_line2">{{this.address_line2}} </span>,
          <span class="church_city">{{this.city}} </span> 
          <span class="church_province">{{this.province}} </span>
          <span class="church_postal_code">{{this.postal_code}} </span>
          <span class="church_country">{{this.country}} </span>
        </p>
        <button type="button" class="fas fa-trash delChurchBtn"></button> <button type="button" class="fas fa-edit editChurchBtn"></button>
      </div>
    </div>
  </div>
</div>