<div class='col-4' style='margin-bottom: 1em;'>
  <div class='card witness person_info' data-member="{{this.witness_member_id}}" data-person="{{this.witness_person_id}}" data-record="{{this.witness_id}}">
    <div class='card-body'>
      <p class='card-text'>{{this.witness_first_name}} {{this.witness_mid_name}}. {{this.witness_last_name}}</p>
      {{#if this.witness_member_id}}
      <a href="/member/{{this.witness_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
      {{/if}}
    </div>
  </div>
</div>