<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1>{{#if fromSearch}}Search Results Child Dedication{{else}}Child Dedication Forms{{/if}}</h1>
      <a href="/add_dedication"><i class="far fa-plus-square"></i></a>
    </div>
  </div>
  <div class="row">
    <table id="dataTable" class="display table" width="100%">
      <thead>
        <tr>
          <th>Registry Number</th>
          <th>Child</th>
          <th>Parent/Guardian</th>
          <th>Parent/Guardian</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        {{#each dedication}}
        <tr data-href="/view_dedication/{{this.dedication_id}}">
          <td>{{this.dedication_id}}</td>
          <td>{{this.infant_first_name}} {{this.infant_mid_name}}. {{this.infant_last_name}}</td>
          <td>{{this.guardianOne_first_name}} {{this.guardianOne_mid_name}}. {{this.guardianOne_last_name}}</td>
    
          {{#if this.guardianTwo_first_name}}
            <td>{{this.guardianTwo_first_name}} {{this.guardianTwo_mid_name}}. {{this.guardianTwo_last_name}}</td>
            {{else}}
            <td>N/A</td>
          {{/if}}
          <td>{{dateView this.date}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>