{{>navbar}}
<div id="wedding_info" 
    data-wedding-id="{{wedding_id}}" 
    data-couple-id="{{couple_id}}"
    data-bride-parents="{{bride_parents_id}}"
    data-groom-parents="{{groom_parents_id}}"
    ></div>
<form id="wedding_form" method="POST" class="container"> 
  <div class="container" style="padding-left: 20%; padding-right: 20%;">
    <h1 class="my-3" id="title"> Edit Wedding Registry </h1>
    <div class="row">
      <hr>
      <div class="col-4">
        <label for="current_date">Wedding Date <span style="color: red;">*</span></label>
        <input type="date" id="date" name="date" class="form-control" value="{{date wedding_date}}">
        <p id="date_error" class="error_codes"> </p>
      </div>
      <div class="col-4">
        <label>Contract No. <span style="color: red;">*</span></label>
        <input type="text" id="contract" class="form-control" value="{{contract_no}}">
        <p id="contract_info_error" class="error_codes"> </p>
      </div>
      <hr>
      <div class="row person_info" id="bride_info" data-member="{{bride_member_id}}" data-person="{{bride_person_id}}">
        <legend>Bride</legend>
        <div class="col">
          <u for="first_name_view">First Name</u>
          <p><span id="bride_first_name_view">{{bride_first_name}}</span></p>
        </div>
        <div class="col">
          <u for="mid_name_view">Middle Initial</u>
          <p><span id="bride_mid_name_view">{{bride_mid_name}}</span></p>
        </div>
        <div class="col">
          <u for="last_name_view">Last Name</u>
          <p><span id="bride_last_name_view">{{bride_last_name}}</span></p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_bride">Edit</button>
        </div>
      </div>
      <hr>
      <div class="row person_info" id="groom_info" data-member="{{groom_member_id}}" data-person="{{groom_person_id}}">
        <legend>Groom</legend>
        <div class="col">
          <u for="first_name_view">First Name</u>
          <p><span id="groom_first_name_view">{{groom_first_name}}</span></p>
        </div>
        <div class="col">
          <u for="mid_name_view">Middle Initial</u>
          <p><span id="groom_mid_name_view">{{groom_mid_name}}</span></p>
        </div>
        <div class="col">
          <u for="last_name_view">Last Name</u>
          <p><span id="groom_last_name_view">{{groom_last_name}}</span></p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_groom">Edit</button>
        </div>
      </div>
      <hr>
      <div class="row person_info" id="bride_mother_info" data-member="{{bride_mother_member_id}}" data-person="{{bride_mother_person_id}}">
        <legend>Bride's Mother</legend>
        <div class="col">
          <u for="first_name_view">First Name</u>
          <p>
          <span id="bride_mother_first_name_view">
            {{#if (isUndefined bride_mother_first_name)}}
              N/A
            {{else}}
              {{bride_mother_first_name}}
            {{/if}}
          </span>
          </p>
        </div>
        <div class="col">
          <u for="mid_name_view">Middle Initial</u>
          <p>
          <span id="bride_mother_mid_name_view">
            {{#if (isUndefined bride_mother_mid_name)}}
              N/A
            {{else}}
              {{bride_mother_mid_name}}
            {{/if}}
          </span>
          </p>
        </div>
        <div class="col">
          <u for="last_name_view">Last Name</u>
          <p>
            <span id="bride_mother_last_name_view">
              {{#if (isUndefined bride_mother_last_name)}}
                N/A
              {{else}}
                {{bride_mother_last_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_bride_mother">Edit</button>
        </div>
      </div>
      <div class="row person_info" id="bride_father_info" data-member="{{bride_father_member_id}}" data-person="{{bride_father_person_id}}">
        <legend>Bride's Father</legend>
        <div class="col">
          <u for="first_name_view">First Name</u>
          <p>
          <span id="bride_father_first_name_view">
            {{#if (isUndefined bride_father_first_name)}}
             N/A
            {{else}}
              {{bride_father_first_name}}
            {{/if}}
          </span>
          </p>
        </div>
        <div class="col">
          <u for="mid_name_view">Middle Initial</u>
          <p>
            <span id="bride_father_mid_name_view">
              {{#if (isUndefined bride_father_mid_name)}}
                N/A
              {{else}}
                {{bride_father_mid_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col">
          <u for="last_name_view">Last Name</u>
          <p>
            <span id="bride_father_last_name_view">
              {{#if (isUndefined bride_father_last_name)}}
                N/A
              {{else}}
                {{bride_father_last_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_bride_father">Edit</button>
        </div>
      </div>
      <hr>
      <div class="row person_info" id="groom_mother_info" data-member="{{groom_mother_member_id}}" data-person="{{groom_mother_person_id}}">
        <legend>Groom's Mother</legend>
        <div class="col">
          <u for="first_name_view">First Name</u>
          <p>
            <span id="groom_mother_first_name_view">
              {{#if (isUndefined groom_mother_first_name)}}
                N/A
              {{else}}
                {{groom_mother_first_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col">
          <u for="mid_name_view">Middle Initial</u>
          <p>
            <span id="groom_mother_mid_name_view">
              {{#if (isUndefined groom_mother_mid_name)}}
                N/A
              {{else}}
                {{groom_mother_mid_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col">
          <u for="last_name_view">Last Name</u>
          <p>
            <span id="groom_mother_last_name_view">
              {{#if (isUndefined groom_mother_last_name)}}
                N/A
              {{else}}
                {{groom_mother_last_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_groom_mother">Edit</button>
        </div>
      </div>
      <div class="row person_info" id="groom_father_info" data-member="{{groom_father_member_id}}" data-person="{{groom_father_person_id}}">
        <legend>Groom's Father</legend>
        <div class="col">
          <u for="first_name">First Name</u>
          <p>
            <span id="groom_father_first_name_view">
              {{#if (isUndefined groom_father_first_name)}}
                N/A
              {{else}}
                {{groom_father_first_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col">
          <u for="mid_name">Middle Initial</u>
          <p>
            <span id="groom_father_mid_name_view">
              {{#if (isUndefined groom_father_mid_name)}}
                N/A
              {{else}}
                {{groom_father_mid_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col">
          <u for="last_name">Last Name</u>
          <p>
            <span id="groom_father_last_name_view">
              {{#if (isUndefined groom_father_last_name)}}
                N/A
              {{else}}
                {{groom_father_last_name}}
              {{/if}}
            </span>
          </p>
        </div>
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-secondary mb-4 float-right" id="edit_groom_father">Edit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <label>Officiant <span style="color: red;">*</span></label>
          <input type="text" id="officiant" class="form-control" value="{{officiant}}">
          <p id="officiant_info_error" class="error_codes"> </p>
        </div>
        <div class="col">
          <label>Solemnizing Officer <span style="color: red;">*</span></label>
          <input type="text" id="solemnizer" class="form-control" value="{{solemnizer}}">
          <p id="solemnizer_info_error" class="error_codes"> </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="location">Wedding Location <span style="color: red;">*</span></label>
          <input type="text" id="location" name="location" class="form-control" value="{{location}}">
          <p id="location_error" class="error_codes"> </p>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <legend>Sponsors (Female)</legend>
          <button id="add_gmother_button" type="button" class="plus-btn"><i style="width: 2.5em; height: 2.5em; color:black;"
              class="far fa-plus-square"></i></button>
        </div>
      </div>
      <hr class="mt-2">
      <div class="row" id="gmother_witness_row">
        {{#if witnessFemale}}
        {{#each witnessFemale}}
        {{>edit-witness this=this type="female"}}
        {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}
      </div>
        <p id="witness_gmother_info_error" class="error_codes"> </p>
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <legend>Sponsors (Male)</legend>
          <button id="add_gfather_button" class="plus-btn" type="button"><i style="width: 2.5em; height: 2.5em; color:black;"
              class="far fa-plus-square"></i></button>
        </div>
      </div>
      <hr class="mt-2">
      <div class="row" id="gfather_witness_row">
        {{#if witnessMale}}
        {{#each witnessMale}}
        {{>edit-witness this=this type="male"}}
        {{/each}}
        {{else}}
        <p>N/A</p>
        {{/if}}
      </div>
        <p id="witness_gfather_info_error" class="error_codes"> </p>
      <div class="row my-3">
        <div class="col">
          <button type="button" class="btn btn-primary mb-4" id="save_changes">Save Changes</button>
        </div>
      </div>
    </div>

  <div class="modal fade" id="brideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Bride</h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="bride_radio" id="bride_non_member"> Non Member
              <input class="mb-3" name="bride_radio" type="radio" id="bride_member" checked> Member
              <div id="bride_member_div" style="display:block">
                <label>Select Member</label>
                <select name="input_bride_member" id="input_bride_member">
                  {{>dropdown singleFemales}}
                </select>
              </div>
              <fieldset class="form-group" id="bride_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="bride_first_name">First Name</label>
                      <input type="text" id="bride_first_name" name="bride_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="bride_mid_name">Middle Initial</label>
                      <input type="text" id="bride_mid_name" name="bride_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_last_name">Last Name</label>
                      <input type="text" id="bride_last_name" name="bride_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="bride_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_bride_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="groomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Groom</h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="groom_radio" id="groom_non_member"> Non Member
              <input class="mb-3" name="groom_radio"type="radio" id="groom_member" checked> Member
              <div id="groom_member_div" style="display:block">
                <label>Select Groom</label>
                <select name="input_groom" id="input_groom_member">
                  {{>dropdown singleMales}}
                </select>
              </div>
              <fieldset class="form-group" id="groom_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="groom_first_name">First Name</label>
                      <input type="text" id="groom_first_name" name="groom_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="groom_mid_name">Middle Initial</label>
                      <input type="text" id="groom_mid_name" name="groom_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="groom_last_name">Last Name</label>
                      <input type="text" id="groom_last_name" name="groom_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="groom_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_groom_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="femaleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span id="female_modal_title">Add Godmother</span></h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="female_radio" id="female_non_member"> Non Member
              <input class="mb-3" name="female_radio" type="radio" id="female_member" checked> Member
              <span id="female_none_div">
                <input type="radio" name="female_radio" id="female_none"> None
              </span>
              <div id="female_member_div" style="display:block">
                <label>Select Member</label>
                <select name="input_female_member" id="input_female_member">
                  {{>dropdown females}}
                </select>
              </div>
              <fieldset class="form-group" id="female_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="female_first_name">First Name</label>
                      <input type="text" id="female_first_name" name="female_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="female_mid_name">Middle Initial</label>
                      <input type="text" id="female_mid_name" name="female_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_last_name">Last Name</label>
                      <input type="text" id="female_last_name" name="female_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="female_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_female_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="maleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span id="maleModalTitle">Add Godfather</span></h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="male_radio" id="male_non_member"> Non Member
              <input class="mb-3" name="male_radio" type="radio" id="male_member" checked> Member
              <input type="radio" name="male_radio" id="male_none"> None
              <div id="male_member_div" style="display:block">
                <label>Select Father</label>
                <select name="input_male" id="input_male_member">
                  {{>dropdown males}}
                </select>
              </div>
              <fieldset class="form-group" id="male_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="male_first_name">First Name</label>
                      <input type="text" id="male_first_name" name="male_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_mid_name">Middle Initial</label>
                      <input type="text" id="male_mid_name" name="male_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_last_name">Last Name</label>
                      <input type="text" id="male_last_name" name="male_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="male_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_male_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="maleWitnessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span id="maleWitnessModalTitle">Add Godfather</span></h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="male_witness_radio" id="male_witness_non_member"> Non Member
              <input class="mb-3" name="male_witness_radio" type="radio" id="male_witness_member" checked> Member
              <div id="male_witness_member_div" style="display:block">
                <label>Select Father</label>
                <select name="input_male_witness" id="input_male_witness_member">
                  {{>dropdown males}}
                </select>
              </div>
              <fieldset class="form-group" id="male_witness_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="male_witness_first_name">First Name</label>
                      <input type="text" id="male_witness_first_name" name="male_witness_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_mid_name">Middle Initial</label>
                      <input type="text" id="male_witness_mid_name" name="male_witness_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_last_name">Last Name</label>
                      <input type="text" id="male_witness_last_name" name="male_witness_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="male_witness_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_male_witness_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="femaleWitnessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span id="femaleWitnessModalTitle">Add Godfather</span></h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input type="radio" name="female_witness_radio" id="female_witness_non_member"> Non Member
              <input class="mb-3" name="female_witness_radio" type="radio" id="female_witness_member" checked> Member
              <div id="female_witness_member_div" style="display:block">
                <label>Select Member</label>
                <select name="input_female_witness" id="input_female_witness_member">
                  {{>dropdown females}}
                </select>
              </div>
              <fieldset class="form-group" id="female_witness_non_member_div" style="display:none">
                <div class="div">
                  <div class="row">
                    <div class="col-12">
                      <label for="female_witness_first_name">First Name</label>
                      <input type="text" id="female_witness_first_name" name="female_witness_first_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_mid_name">Middle Initial</label>
                      <input type="text" id="female_witness_mid_name" name="female_witness_mid_name" class="form-control">
                    </div>
                    <div class="col-12">
                      <label for="witness_last_name">Last Name</label>
                      <input type="text" id="female_witness_last_name" name="female_witness_last_name" class="form-control">
                    </div>
                  </div>
                </div>
              </fieldset>
              <p id="female_witness_modal_info_error" class="error_codes"> </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_female_witness_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDeleteWitnessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Delete Witness</h5>
          <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row" id="delete_info">
            <p>Are you sure? This action will be saved automatically and cannot be undone!</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="confirm_delete_witness">Delete Witness</button>
        </div>
      </div>
    </div>
  </div>

</form>