{{>navbar}}

<div id="member_info" style="display: none" data-member="{{member.member_id}}" data-address="{{member.address_id}}" data-person="{{member.person_id}}" ></div>
<form action="/add_member" method="POST" class="container" id="create-member-form">
  <div class="container" style="padding-left: 20%; padding-right: 20%;">
    <div class="row d-flex justify-content-between">
      <div class="col-8"><h1 class="my-3"> Edit Member </h1></div>
      <div class="col-4 align-self-end"><p style="text-align:end; margin:0;"><span style="color: red;">*</span> - required</p></div>
    </div>
    <hr style="margin-top: 0;">
    <div class="row">
      <div class="col">
        <label for="first_name">First Name <span style="color: red;">*</span></label>
        <input type="text" id="first_name" name="first_name" class="form-control" value="{{member.first_name}}">
        <p id="first_name_error" class="error_codes">  </p>
      </div>
      <div class="col">
        <label for="mid_name">Middle Name <span style="color: red;">*</span></label>
        <input type="text" id="mid_name" name="middle_name" class="form-control" value="{{member.middle_name}}">
        <p id="mid_name_error" class="error_codes">  </p>
      </div>
      <div class="col">
        <label for="last_name">Last Name <span style="color: red;">*</span></label>
        <input type="text" id="last_name" name="last_name" class="form-control" value="{{member.last_name}}">
        <p id="last_name_error" class="error_codes">  </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="membership_status">Membership Status</label>
        <select id="membership_status" name="membership_status" class="form-select">
          {{{memberStatusSelection member.member_status}}}
        </select>
        <p id="membership_status_error" class="error_codes">  </p>
      </div>
      <div class="col" {{#unless member.member_type}}style="display: none"{{/unless}}>
        <label for="membership_type">Membership Type</label>
        <select id="membership_type" name="membership_type" class="form-select">
          {{{memberTypeSelection member.member_type}}}
        </select>
        <p id="membership_type_error" class="error_codes"> </p>
      </div>
      <div class="col">
        <label for="civil_status">Civil Status</label>
        <select id="civil_status" name="civil_status" class="form-select">
          {{{civilStatusSelection member.civil_status}}}
        </select>
        <p id="civil_status_error" class="error_codes">  </p>
      </div>
      <div class="col" style="display: {{{otherColDisplay member.civil_status}}};">
        <label for="civil_status">If others, specify</label>
        <input type="text" id="civil_status_others" name="civil_status_others" class="form-control" value="{{{otherCivilStatus member.civil_status}}}">
        <p id="civil_status_others_error" class="error_codes" > </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="sex">Sex</label>
        <select id="sex" name="sex" class="form-select">
          {{{sexSelection member.sex}}}
        </select>
        <p id="sex_error" class="error_codes">  </p>
      </div>
      <div class="col">
        <label for="birthday">Birthday <span style="color: red;">*</span></label>
        <input type="date" id="birthday" name="birthday" class="form-control" value="{{date member.birthday}}">
        <p id="birthday_error" class="error_codes"> </p>
      </div>
      <div class="col">
        <label for="occupation">Occupation <span style="color: red;">*</span></label>
        <input type="text" id="occupation" name="occupation" class="form-control" value="{{member.occupation}}">
        <p id="occupation_error" class="error_codes">  </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" name="mobile" class="form-control" value="{{member.mobile}}">
        <p id="mobile_error" class="error_codes">  </p>
      </div>
      <div class="col">
        <label for="telephone">Telephone</label>
        <input type="text" id="telephone" name="telephone" class="form-control" value="{{member.telephone}}">
        <p id="telephone_error" class="error_codes"> </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="workplace">Workplace</label>
        <input type="text" id="workplace" name="workplace" class="form-control" value="{{member.workplace}}">
      </div>
      <div class="col">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" value="{{member.email}}">
        <p id="email_error" class="error_codes">  </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="educational_attainment">Educational Attainment</label>
        <input type="text" id="educational_attainment" name="educational_attainment" class="form-control" value="{{member.educ_attainment}}">
      </div>
      <div class="col">
        <label for="alma_mater">Alma Mater</label>
        <input type="text" id="alma_mater" name="alma_mater" class="form-control" value="{{member.alma_mater}}">
      </div>
    </div>
    <br>
    <label for="churches">Family Members</label>
    <input type="textarea" id="family_members" name="family_members" class="form-control" value="{{member.family_members}}">
    <br>
    <label for="skills">Skills</label>
    <input type="textarea" id="skills" name="skills" class="form-control" value="{{member.skills}}">
    <hr>
    <fieldset class="form-group">
      <div class="row">
        <div class="col">
          <label for="adress_line">Address Line 1 <span style="color: red;">*</span></label>
          <input type="text" id="address_line" name="address_line" class="form-control" value="{{member.address_line}}">
          <p id="address_line_error" class="error_codes">  </p>
        </div>
        <div class="col">
          <label for="address_line2">Address Line 2</label>
          <input type="text" id="address_line2" name="address_line2" class="form-control" value="{{member.address_line2}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="city" class="mb-4 mb-md-0">City <span style="color: red;">*</span></label>
          <input type="text" id="city" name="city" class="form-control" value="{{member.city}}">
          <p id="city_error" class="error_codes">  </p>
        </div>
        <div class="col">
          <label for="province">Province / State / Region</label>
          <input type="text" id="province" name="province" class="form-control" value="{{member.province}}">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="postal_code">Postal Code</label>
          <input type="text" id="postal_code" name="postal_code" class="form-control" value="{{member.postal_code}}">
        </div>
        <div class="col">
          <label for="country">Country <span style="color: red;">*</span></label>
          <input type="text" id="country" name="country" class="form-control" value="{{member.country}}">
          <p id="country_error" class="error_codes">  </p>
        </div>
      </div>
    </fieldset>
    <hr>

    {{!-- Temp div to list churches and observations--}}
     <div class="row mt-3 mb-5">
        <div class="col">
            <u> Churches </u>
            <div id="churchList"> {{!-- Please use the same id when replacing the divs--}}
                {{#each churches}}
                {{>church this}}
                {{/each}}
            </div>
        </div>
        <div class="col">
            <u> Observations  </u>
            <div id="observationList">
            {{#each observations}}
                {{>observation this}}
            {{/each}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col" style="max-width: fit-content;">
        <button type="button" class="btn btn-secondary" id="addChurchBtn"> Add Church </button>
        <button type="button" class="btn btn-secondary mt-1 mt-md-0" id="addObservationBtn"> Add Observation </button>
      </div>
      <div class="col ms-auto" style="max-width: fit-content;">
        <button type="button" class="btn btn-primary" id="edit-member">Submit</button>
      </div>
    </div>

    <div class="modal fade" id="addChurchModal" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Church</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <fieldset id="churchFieldset" class="form-group church-fieldset">
              <div style="display:none" data-church="{{church_id}}" data-address="{{church_address}}"></div>
              <legend>Churches: </legend>
              <label for="church_name">Name of church</label>
              <input type="text" id="church_name" name="church_name" class="form-control">
              <p id="church_name_error" class="error_codes"> </p>
              <label for="church_adress_line">Address Line 1</label>
              <input type="text" id="church_address_line" name="church_address_line" class="form-control">
              <p id="church_address_line_error" class="error_codes"> </p>
              <label for="church_address_line2">Address Line 2</label>
              <input type="text" id="church_address_line2" name="church_address_line2" class="form-control">
              <label for="church_city">City</label>
              <input type="text" id="church_city" name="church_city" class="form-control">
              <p id="church_city_error" class="error_codes"> </p>
              <label for="church_province">Province</label>
              <input type="text" id="church_province" name="church_province" class="form-control">
              <label for="church_postal_code">Postal Code</label>
              <input type="text" id="church_postal_code" name="church_postal_code" class="form-control">
              <label for="church_country">Country</label>
              <input type="text" id="church_country" name="church_country" class="form-control">
              <p id="church_country_error" class="error_codes"> </p>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveChurchBtn" type="button" class="btn btn-primary">Save Church</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addObservationModal" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Observation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <fieldset id="observationFieldset" class="observation-field">
              <label>Commenter</label>
              <input type="text" id="commenter" name="commenter" class="form-control">
              <p id="commenter_error" class="error_codes"> </p>
              <label>Comment</label>
              <input type="textarea" id="comment" name="comment" class="form-control">
              <p id="comment_error" class="error_codes"> </p>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="saveObservationBtn" type="button" class="btn btn-primary">Save Observation</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>