<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1> {{#if fromSearch}}Search Results Prenuptial{{else}}Prenuptial Forms {{/if}}</h1>
      <a href="/add_prenup"><i class="far fa-plus-square"></i></a>
    </div>
  </div>
  <div class="row">
    <table id="dataTable" class="display table" width="100%">
      <thead>
        <tr>
          <th>Registry Number</th>
          <th>Groom</th>
          <th>Bride</th>
          <th>Date Created</th>
          <th>Date of Wedding</th>
        </tr>
      </thead>
      <tbody>
        {{#each prenup}}
          <tr data-href="/view_prenup/{{this.record_id}}">
            <td>{{this.record_id}}</td>
            <td>{{this.groom_first_name}} {{this.groom_mid_name}}. {{this.groom_last_name}}</td>
            <td>{{this.bride_first_name}} {{this.bride_mid_name}}. {{this.bride_last_name}}</td>
            <td>{{dateView this.date}}</td>
            <td>{{dateView this.date_of_wedding}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>