<center><h1>SUCCESS</h1></center><br>
<center><h3>BRIDE: {{brideFirst}} {{brideMid}} {{brideLast}}</h3></center>
<center><h3>GROOM: {{groomFirst}} {{groomMid}} {{groomLast}}</h3></center>
<center><h3>Date logged: {{currentDate}}</h3></center>
<center><h3>Date of Wedding: {{weddingDate}}</h3></center>
<center><a href="/forms_main_page"><button><p class="p-2">Back to Home</p></button></a></center>