<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div id="wedding_info" data-wedding-id="{{wedding_id}}" data-couple-id="{{couple_id}}"
  data-bride-parents="{{bride_parents_id}}" data-groom-parents="{{groom_parents_id}}"></div>

<div id="wedding_div" style="display: none"></div>
  <div class="container" style="padding-left: 18%; padding-right: 10%;">
    <h1 class="my-3" id="title"> View Wedding Registry </h1>
    <hr>
    <div class="row">
      <div class="col-4">
        <legend for="reg_id">Registry Number</legend>
        <p id="reg_id">{{wedding_id}}</p>
      </div>
      <div class="col">
        <legend for="contract"> Contract No. </legend>
        <p id="contract">{{contract_no}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <legend for="date_created">Date Created</legend>
        <p id="date_created">{{dateView date}}</p>
      </div>
      <div class="col">
        <legend for="wedding_date">Wedding Date</legend>
        <p id="wedding_date">{{dateView wedding_date}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="bride_info" data-member="{{bride_member_id}}" data-person="{{bride_person_id}}">
      <legend>Bride's Name</legend>
      <div class="col">
        <u for="bride_first_name">First Name</u>
        <p id="bride_first_name">{{bride_first_name}}</p>
        {{#if bride_member_id}}
          <a href="/member/{{bride_member_id}}"><button class="btn btn-secondary mb-4">Bride's Member Profile</button></a>
        {{/if}}
      </div>
      <div class="col">
        <u for="bride_mid_name">Middle Initial</u>
        <p id="bride_mid_name">{{bride_mid_name}}</p>
      </div>
      <div class="col">
        <u for="bride_last_name">Last Name</u>
        <p id="bride_last_name">{{bride_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="groom_info" data-member="{{groom_member_id}}" data-person="{{groom_person_id}}">
      <legend>Groom's Name</legend>
      <div class="col">
        <u for="groom_first_name">First Name</u>
        <p id="groom_first_name">{{groom_first_name}}</p>
        {{#if groom_member_id}}
          <a href="/member/{{groom_member_id}}"><button class="btn btn-secondary mb-4">Groom's Member Profile</button></a>
        {{/if}}
      </div>
      <div class="col">
        <u for="groom_mid_name">Middle Initial</u>
        <p id="groom_mid_name">{{groom_mid_name}}</p>
      </div>
      <div class="col">
        <u for="groom_last_name">Last Name</u>
        <p id="groom_last_name">{{groom_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="bride_mother_info" data-member="{{bride_mother_member_id}}" data-person="{{bride_mother_person_id}}">
      <legend>Bride's Mother</legend>
      <div class="col">
        <u for="bride_mother_first_name">First Name</u>
        {{#if (isUndefined bride_mother_first_name)}}
          <p id="bride_mother_first_name">N/A</p>
        {{else}}
          <p id="bride_mother_first_name">{{bride_mother_first_name}}</p>
          {{#if bride_mother_member_id}}
          <a href="/member/{{bride_mother_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="bride_mother_mid_name">Middle Initial</u>
        {{#if (isUndefined bride_mother_mid_name)}}
          <p id="bride_mother_mid_name">N/A</p>
        {{else}}
          <p id="bride_mother_mid_name">{{bride_mother_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="bride_mother_last_name">Last Name</u>
        {{#if (isUndefined bride_mother_last_name)}}
          <p id="bride_mother_last_name">N/A</p>
        {{else}}
          <p id="bride_mother_last_name">{{bride_mother_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <div  class="row person_info" id="bride_father_info" data-member="{{bride_father_member_id}}" data-person="{{bride_father_person_id}}">
      <legend>Bride's Father</legend>
      <div class="col">
        <u for="bride_father_first_name">First Name</u>
        {{#if (isUndefined bride_father_first_name)}}
          <p id="bride_father_first_name">N/A</p>
        {{else}}
          <p id="bride_father_first_name">{{bride_father_first_name}}</p>
          {{#if bride_father_member_id}}
          <a href="/member/{{bride_father_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="bride_father_mid_name">Middle Initial</u>
        {{#if (isUndefined bride_father_mid_name)}}
          <p id="bride_father_mid_name">N/A</p>
        {{else}}
          <p id="bride_father_mid_name">{{bride_father_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="bride_father_last_name">Last Name</u>
        {{#if (isUndefined bride_father_last_name)}}
          <p id="bride_father_last_name">N/A</p>
        {{else}}
          <p id="bride_father_last_name">{{bride_father_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row person_info" id="groom_mother_info" data-member="{{groom_mother_member_id}}" data-person="{{groom_mother_person_id}}">
      <legend>Groom's Mother</legend>
      <div class="col">
        <u for="groom_mother_first_name">First Name</u>
        {{#if (isUndefined groom_mother_first_name)}}
          <p id="groom_mother_first_name">N/A</p>
        {{else}}
          <p id="groom_mother_first_name">{{groom_mother_first_name}}</p>
          {{#if groom_mother_member_id}}
          <a href="/member/{{groom_mother_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="groom_mother_mid_name">Middle Initial</u>
        {{#if (isUndefined groom_mother_first_name)}}
          <p id="groom_mother_mid_name">N/A</p>
        {{else}}
          <p id="groom_mother_mid_name">{{groom_mother_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="groom_mother_last_name">Last Name</u>
        {{#if (isUndefined groom_mother_last_name)}}
          <p id="groom_mother_last_name">N/A</p>
        {{else}}
          <p id="groom_mother_last_name">{{groom_mother_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <div class="row person_info" id="groom_father_info" data-member="{{groom_father_member_id}}" data-person="{{groom_father_person_id}}">
      <legend>Groom's Father</legend>
      <div class="col">
        <u for="groom_father_first_name">First Name</u>
        {{#if (isUndefined groom_father_first_name)}}
          <p id="groom_father_first_name">N/A</p>
        {{else}}
          <p id="groom_father_first_name">{{groom_father_first_name}}</p>
          {{#if groom_father_member_id}}
          <a href="/member/{{groom_father_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="groom_father_mid_name">Middle Initial</u>
        {{#if (isUndefined groom_father_mid_name)}}
          <p id="groom_father_mid_name">N/A</p>
        {{else}}
          <p id="groom_father_mid_name">{{groom_father_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="groom_father_last_name">Last Name</u>
        {{#if (isUndefined groom_father_last_name)}}
          <p id="groom_father_last_name">N/A</p>
        {{else}}
          <p id="groom_father_last_name">{{groom_father_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <u for="solemnizer"> Solemnizer</u>
            <p id="solemnizer">{{solemnizer}}</p>
        </div>
        <div class="col-4">
            <u for="officiant"> Officiant</u>
            <p id="officiant">{{officiant}}</p>
        </div>
        <div class="col-4">
            <u for="location"> Location </u>
            <p id="location">{{location}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <legend>Sponsors (Male)</legend>
        <div id="godfathers">
        {{#if witnessMale}}
          {{#each witnessMale}}
          {{>witness this}}
          {{/each}}
          <hr>
        {{else}}
          <p>N/A</p>
        {{/if}}
        </div>

      <legend>Sponsors (Female)</legend>
        <div id="godmothers">
        {{#if witnessFemale}}
          {{#each witnessFemale}}
          {{>witness this}}
          {{/each}}
        {{else}}
          <p>N/A</p>
        {{/if}}
        </div>
    </div>
    <hr>
    {{#if canSee}}
    <div class="row my-3">
      <div class="col">
        <a href="/edit_wedding/{{wedding_id}}"><button class="btn btn-secondary mb-4" id="edit_wedding">Edit Wedding Form</button></a>
        <button type="button" class="btn btn-danger mb-4" id="delete_wedding">Delete Form</button>
      </div>
    </div>
    {{/if}}
  </div>
{{> del-record-modal}}
  