<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div id="wedding_info" data-wedding-id="{{wedding_id}}" data-couple-id="{{couple_id}}"
  data-bride-parents="{{bride_parents_id}}" data-groom-parents="{{groom_parents_id}}"></div>

<div id="wedding_div" style="display: none"></div>
  <div class="container" style="padding-left: 18%; padding-right: 10%;">
    <h1 class="my-3" id="title"> View Wedding Registry </h1>
    <hr>
    <div class="row">
      <div class="col-4">
        <legend>Registry Number</legend>
        <p>{{wedding_id}}</p>
      </div>
      <div class="col">
        <legend> Contract No. </legend>
        <p>{{contract_no}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <legend>Date Created</legend>
        <p>{{dateView date}}</p>
      </div>
      <div class="col">
        <legend>Wedding Date</legend>
        <p>{{dateView wedding_date}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="bride_info" data-member="{{bride_member_id}}" data-person="{{bride_person_id}}">
      <legend>Bride's Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{bride_first_name}}</p>
        {{#if bride_member_id}}
          <a href="/member/{{bride_member_id}}"><button class="btn btn-secondary mb-4">Bride's Member Profile</button></a>
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{bride_mid_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{bride_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="groom_info" data-member="{{groom_member_id}}" data-person="{{groom_person_id}}">
      <legend>Groom's Name</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        <p>{{groom_first_name}}</p>
        {{#if groom_member_id}}
          <a href="/member/{{groom_member_id}}"><button class="btn btn-secondary mb-4">Groom's Member Profile</button></a>
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        <p>{{groom_mid_name}}</p>
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        <p>{{groom_last_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" id="bride_mother_info" data-member="{{bride_mother_member_id}}" data-person="{{bride_mother_person_id}}">
      <legend>Bride's Mother</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        {{#if (isUndefined bride_mother_first_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_mother_first_name}}</p>
          {{#if bride_mother_member_id}}
          <a href="/member/{{bride_mother_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        {{#if (isUndefined bride_mother_mid_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_mother_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        {{#if (isUndefined bride_mother_last_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_mother_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <div  class="row person_info" id="bride_father_info" data-member="{{bride_father_member_id}}" data-person="{{bride_father_person_id}}">
      <legend>Bride's Father</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        {{#if (isUndefined bride_father_first_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_father_first_name}}</p>
          {{#if bride_father_member_id}}
          <a href="/member/{{bride_father_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        {{#if (isUndefined bride_father_mid_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_father_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        {{#if (isUndefined bride_father_last_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{bride_father_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row person_info" id="groom_mother_info" data-member="{{groom_mother_member_id}}" data-person="{{groom_mother_person_id}}">
      <legend>Groom's Mother</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        {{#if (isUndefined groom_mother_first_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_mother_first_name}}</p>
          {{#if groom_mother_member_id}}
          <a href="/member/{{groom_mother_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        {{#if (isUndefined groom_mother_mid_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_mother_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        {{#if (isUndefined groom_mother_last_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_mother_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <div class="row person_info" id="groom_father_info" data-member="{{groom_father_member_id}}" data-person="{{groom_father_person_id}}">
      <legend>Groom's Father</legend>
      <div class="col">
        <u for="first_name">First Name</u>
        {{#if (isUndefined groom_father_first_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_father_first_name}}</p>
          {{#if groom_father_member_id}}
          <a href="/member/{{groom_father_member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <u for="mid_name">Middle Initial</u>
        {{#if (isUndefined groom_father_mid_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_father_mid_name}}</p>
        {{/if}}
      </div>
      <div class="col">
        <u for="last_name">Last Name</u>
        {{#if (isUndefined groom_father_last_name)}}
          <p>N/A</p>
        {{else}}
          <p>{{groom_father_last_name}}</p>
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <u> Solemnizer</u>
            <p>{{solemnizer}}</p>
        </div>
        <div class="col-4">
            <u> Officiant</u>
            <p>{{officiant}}</p>
        </div>
        <div class="col-4">
            <u> Location </u>
            <p>{{location}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
      <legend>Sponsors (Male)</legend>
        {{#if witnessMale}}
          {{#each witnessMale}}
          {{>witness this}}
          {{/each}}
          <hr>
        {{else}}
          <p>N/A</p>
        {{/if}}

      <legend>Sponsors (Female)</legend>
        {{#if witnessFemale}}
          {{#each witnessFemale}}
          {{>witness this}}
          {{/each}}
        {{else}}
          <p>N/A</p>
        {{/if}}
    </div>
    <hr>
    {{#if canSee}}
    <div class="row my-3">
      <div class="col">
        <a href="/edit_wedding/{{wedding_id}}"><button class="btn btn-secondary mb-4">Edit Wedding Form</button></a>
        <button type="button" class="btn btn-danger mb-4" id="delete_wedding">Delete Form</button>
      </div>
    </div>
    {{/if}}
  </div>
{{> del-record-modal}}
  