<style>
  @import url(/css/fonts.css);

  #header {
      font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div id="prenup_info" style="display: none" data-prenup="{{prenupId}}" data-couple="{{coupleId}}" data-groom-person="{{groomPersonId}}" data-bride-person="{{bridePersonId}}" ></div>
  <div class="container" style="padding-left: 18%; padding-right: 10%;">
    <h1 class="my-3" id="title"> View Prenuptial Record </h1>
    <hr>
    <div class="row">
      <div class="col-4">
        <legend for="reg_id">Registry Number</legend>
        <p id="reg_id">{{prenupId}}</p>
      </div>
      <div class="col">
        <legend for="date_created">Date Added</legend>
        <p id="date_created">{{dateView date}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" data-member="{{brideMemberId}}" data-person="{{bridePersonId}}">
      <legend>Bride's Name</legend>
      <div class="col">
        <u for="bride_first_name">First Name</u>
        <p id="bride_first_name">{{brideFirst}}</p>
      </div>
      <div class="col">
        <u for="bride_mid_name">Middle Initial</u>
        <p id="bride_mid_name">{{brideMid}}</p>
      </div>
      <div class="col">
        <u for="bride_last_name">Last Name</u>
        <p id="bride_last_name">{{brideLast}}</p>
      </div>
    </div>
    <hr>
    <div class="row person_info" data-member="{{groomMemberId}}" data-person="{{groomPersonId}}">
      <legend>Groom's Name</legend>
      <div class="col">
        <u for="groom_first_name">First Name</u>
        <p id="groom_first_name">{{groomFirst}}</p>
      </div>
      <div class="col">
        <u for="groom_mid_name">Middle Initial</u>
        <p id="groom_mid_name">{{groomMid}}</p>
      </div>
      <div class="col">
        <u for="groom_last_name">Last Name</u>
        <p id="groom_last_name">{{groomLast}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
        <u for="wedding_date"> Planned Wedding Date </u>
        <p id="wedding_date">{{dateView weddingDate}}</p>
    </div>
    <hr>
    <div class="row my-3">
      {{#if canSee}}
        <div class="col">
            <a href="/edit_prenup/{{prenupId}}"> <button class="btn btn-secondary mb-4" id="edit_prenup">Edit Prenuptial Form</button> </a>
            <button type="button" class="btn btn-danger mb-4" id="delete_prenup">Delete Form</button>
        </div>
      {{/if}}
    </div>
    {{>del-record-modal}}
  </div>
</div>
