<style>
  @import url(/css/fonts.css);

  #header {
    font-family: JuliusSansPro;
  }
</style>

{{>navbar}}

<div id="baptismal_info" style="display: none" data-baptismal="{{record.reg_id}}"></div>
<div class="container" style="padding-left: 18%; padding-right: 10%;">
  <h1 class="my-3" id="title"> View Baptismal Record </h1>
  <hr>
  <div class="row">
    <div class="col">
      <legend for="reg_id">Registry Number</legend>
      <p id="reg_id">{{record.reg_id}}</p>
    </div>
    <div class="col">
      <legend for='date_created'>Date Created</legend>
      <p id="date_created">{{dateView record.date_created}}</p>
    </div>
    <div class="col">
      <legend for="date">Baptismal Date</legend>
      <p id="date">{{dateView record.date}}</p>
    </div>
  </div>
  <div class="row">
    <legend>Member</legend>
    <div class="col">
      <u for="member_first_name">First Name</u>
      <p id="member_first_name">{{record.member_first_name}}</p>
      {{#if record.member_id}}
        <a href="/member/{{record.member_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
      {{/if}}
    </div>
    <div class="col">
      <u for="member_mid_name">Middle Initial</u>
      <p id="member_mid_name">{{record.member_mid_name}}</p>
    </div>
    <div class="col">
      <u for="member_last_name">Last Name</u>
      <p id="member_last_name">{{record.member_last_name}}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <legend>Officiant</legend>
    <div class="col">
      <u for="officiant_first_name">First Name</u>
      <p id="officiant_first_name">{{record.officiant_first_name}}</p>
      {{#if record.officiant_id}}
      <a href="/member/{{record.officiant_id}}"><button class="btn btn-secondary mb-4">Member Profile</button></a>
      {{/if}}
    </div>
    <div class="col">
      <u for="officiant_mid_name">Middle Initial</u>
      <p id="officiant_mid_name">{{record.officiant_mid_name}}</p>
    </div>
    <div class="col">
      <u for="officiant_last_name">Last Name</u>
      <p id="officiant_last_name">{{record.officiant_last_name}}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <u for="place">Location</u>
    <p id="place">{{record.place}}</p>
  </div>
  {{#if canSee}}
  <div class="row my-3">
    <div class="col">
      <a href="/edit_baptismal/{{record.reg_id}}"><button class="btn btn-secondary mb-4" id="edit_baptismal">Edit Baptismal Form</button></a>
      <button id="delete-baptismal" type="button" class="btn btn-danger mb-4">Delete Record</button>
    </div>
  </div>
  <p id="delete_error" class="error_codes"></p>
  {{/if}}
  {{> del-record-modal}}