<style>
  @import url(/css/fonts.css);

  #header {
    font-family: JuliusSansPro;
  }

  .calendar-icon{
    color: rgb(90, 90, 90);
    font-size: 45px;
    position: relative;
    bottom:8px;
    margin-right:12px;
  }
</style>

{{>navbar}}

<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1>Service Attendance Record</h1>
      <div>
         <i class="fa lg fa-calendar-alt  calendar-icon " id="dp"></i>
         <a href="/add_attendance"><i class="far fa-plus-square"></i></a>
      </div>
      
    </div>
  </div>
  <div class="row">
    <h5 id="curr_date"></h5>
    <table id="dataTable" class="display table" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Membership Status </th>
        </tr>
      </thead>
      <tbody>
        {{#each records}}
        <tr data-href="/view_baptismal/{{this.reg_id}}">
          <td>{{this.reg_id}}</td>
          <td>{{this.member_first_name}} {{this.member_last_name}}</td>
          <td>{{dateView this.date}}</td>
          <td>{{this.place}}</td>
          <td>{{this.officiant_first_name}} {{this.officiant_last_name}}</td>
          <td>{{dateView this.date_created}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>